<h1><%= @chef.name %>'s Ingredients</h1>

<ul>
    <% @ingredients.each do |ingredient| %>
        <li><%= ingredient.name %></li>
    <% end %>
</ul>

<%= link_to "Back to Chef", chef_path(@chef) %>
