<h1><%= @dish.name %></h1>
<h2><%= @dish.description %></h2>

<div class="ingredients">
  <h2>Ingredients</h2>
  <ul>
    <% @ingredients.each do |ingredient| %>
      <li><%= ingredient.name %></li>
    <% end %>
  </ul>
</div>

<div class="calories">
  <h2>Calories</h2>
  <p>Total Calories: <%= @dish.calorie_count %></p>
</div>