<h1><%= @dish.name %></h1>
<p><%= @dish.description %></p>

<h3> Ingredients </h3>
  <% @dish.ingredients.each do |ingredient| %>
  <p><%= ingredient.name %></p>
  <p><%= ingredient.calories %></p>
  <% end %>



